/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../../lib/font/source-sans-pro/source-sans-pro.css);
@import url(../../../lib/font/oleo/oleo.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #222;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #222;
  }
}


/*********************************************
 * reveal-code-focus plugin
 *********************************************/

.reveal .slides section .fragment.current-only {
  opacity: 1;
  visibility: visible;
  display: none;
}

.reveal .slides section .fragment.current-only.current-fragment {
  display: block;
}

[data-markdown] {
  width: 100% !important;
  code {
    padding: 0.4em 0.6em !important;
    overflow: visible !important;
    max-height: none !important;
    .line {
      line-height: 1.4em;
      display: block;
      //color: #ebebeb !important;
      font-weight: bold !important;
      &.focus {
        background: #6b778e;
      }
    }
  }
  h4 {
    margin-bottom: -0.5em;
    text-transform: none !important;
  }
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.code-compare {
  display: flex;
  justify-content: space-around;
  h4 {
    font-family: 'Oleo Script Swash Caps', cursive !important;
    text-transform: none !important;
  }
}

.talk-title {
  font-family: 'Oleo Script Swash Caps', cursive !important;
  text-transform: none !important;
}

.my-info {
  h4, h5 {
    font-family: 'Oleo Script Swash Caps', cursive !important;
    text-transform: none !important;
  }
}