/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../../lib/font/source-sans-pro/source-sans-pro.css);
@import url(../../../lib/font/oleo/oleo.css);
@import url(../../../lib/font/roboto/roboto.css);
@import url(../../../lib/font/ringbearer/ringbearer.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #5bc0ed;
@mixin bodyBackground() {
  @include radial-gradient(rgba(5, 131, 201, 1), rgba(91, 192, 237, 1));
}

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Roboto', Helvetica, sans-serif;
$headingFont: 'Roboto', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #222;
  }
}


/*********************************************
 * reveal-code-focus plugin
 *********************************************/

.reveal .slides section .fragment.current-only {
  opacity: 1;
  visibility: visible;
  display: none;
}

.reveal .slides section .fragment.current-only.current-fragment {
  display: block;
}

[data-markdown] {
  width: 100% !important;
  code {
    padding: 0.4em 0.6em !important;
    overflow: visible !important;
    max-height: none !important;
    .line {
      line-height: 1.4em;
      display: block;
      //color: #ebebeb !important;
      font-weight: bold !important;
      &.focus {
        background: #6b778e;
      }
    }
  }
  h4 {
    margin-bottom: -0.2em !important;
    text-transform: none !important;
  }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


blockquote {
  text-align: left;
  background: none !important;
  box-shadow: none !important;
  width: 90% !important;
}

.palm-1, .palm-2 {
  position: absolute;
  top: 91.6vh;
}
.palm-1 {
  left: 1vw;
  transform: rotate(-26deg);
}
.palm-2 {
  transform: rotate(26deg);
  left: 95vw;
}

.template {
  color: #f5e2a9 !important;
}
.reactive {
  color: #175679 !important;
}
.miami {
  font-family: 'Oleo Script Swash Caps', cursive !important;
  text-transform: none !important;
}

.code-compare {
  display: flex;
  justify-content: space-around;
  h4 {
    font-family: 'Oleo Script Swash Caps', cursive !important;
    text-transform: none !important;
    font-size: 1.2em;
  }
}

.talk-title {
  font-family: 'Oleo Script Swash Caps', cursive !important;
  text-transform: none !important;
}

.lotr {
  font-family: 'Ringbearer Medium', serif !important;
  text-transform: none !important;
  color: #deb270 !important;
}

.decision-box {
  background-color: #5bc0ed !important;
  width: 23em;
  height: 10em;
  border-radius: 1.7em;
  border: 8px solid #0583c9 !important;
  left: 3.4em;
  position: relative;
  img {
    border: 0 !important;
    background: none !important;
    box-shadow: none !important;
  }
  .shield {
    position: absolute;
    left: 9.9em;
    top: -2.2em;
    width: 3em;
  }
  .title {
    font-size: 2em;
    margin-top: .2em;
  }
  .decision-maker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 24em;
    text-align: left;
    .miami {
      width: 5em;
    }
    .reason {
      font-size: .8em;
      margin-top:.2em;
      width: 19em;
      mark {
        background-color: #aed77f !important;
      }
      .reason-plus {
        font-weight: bold;
        font-style: italic;
        object {
          position: absolute;
          width: 2em;
          transform: rotate(-51deg);
          left: 6.3em;
          top: 5.7em;
        }
      }
    }
  }
  .crab {
    position: absolute;
    left: 0.4em;
    top: 8em;
    transform: rotate(24deg);
  }
  .starfish {
    position: absolute;
    left: 21.1em;
    top: 7.8em;
    transform: rotate(-39deg);
  }
}

.code-slide {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}